<article>
      <h2>
        <a href="{{ path('ArticleBundle_article_show', { 'id': article.id}) }}">
          {{ article.title }}
        </a>
      </h2>
      <time datetime="{{ article.createdAt|date('c') }}">{{ article.createdAt|date('l, F j, Y') }}</time>
      <hr>
    </article>