{# src/ArticleBundle/Resources/views/articles.html.twig #}
{% for article in articles %}
  <article>
      <b><a href="{{ path('ArticleBundle_article_show', { 'id': article.id}) }}">
          {{ article.title }}</a>
      </b> <small> (posted at: <time datetime="{{ article.createdAt|date('c') }}">{{ article.createdAt|date('l, F j, Y') }}</time>)</small>
      <hr>
  </article>
{% endfor %}